@using WeightScaleGen2.BGC.Web.Common
@model WeightScaleGen2.BGC.Models.ViewModels.WeightCompare.ParamSearchWeightCompareViewModel
@{
    ViewData["PageTitle"] = @ViewBag.MenuName;
}
@Html.AntiForgeryToken()
<div class="h-100">
    @* Header Section *@
    <div class="pageMenuTitle">
        <h3 class="text-black">เปรียบเทียบน้ำหนัก</h3>
    </div>

    <div id="dataContainerHeight" class="dataContainer">

        <div class="flex flex-row items-center justify-between mb-3">
            <h4 class="dataTitle">เปรียบเทียบน้ำหนัก</h4>
        </div>

        @* Search Section *@
        <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm mb-2">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-2">
                <div>
                    <label for="start_date" class="d-block mb-2">วันที่เริ่มต้น</label>
                    <div class="relative">
                        <lord-icon src="https://cdn.lordicon.com/uphbloed.json"
                                   trigger="hover"
                                   style="width: 20px; height: 20px;"
                                   colors="primary:#193cb8,secondary:#66d7ee"
                                   class="absolute top-1/2 right-2 transform -translate-y-1/2 w-6 h-6">
                        </lord-icon>
                        <input type="text" id="start_date" placeholder="เลือกวันที่เริ่มต้น" class="border text-gray-900 block w-full p-2.5" />
                    </div>
                </div>
                <div>
                    <label for="end_date" class="d-block mb-2">วันที่สิ้นสุด</label>
                    <div class="relative">
                        <lord-icon src="https://cdn.lordicon.com/uphbloed.json"
                                   trigger="hover"
                                   style="width: 20px; height: 20px;"
                                   colors="primary:#193cb8,secondary:#66d7ee"
                                   class="absolute top-1/2 right-2 transform -translate-y-1/2 w-6 h-6">
                        </lord-icon>
                        <input type="text" id="end_date" placeholder="เลือกวันที่สิ้นสุด" class="border text-gray-900 block w-full p-2.5" />
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-2">
                <div>
                    <label for="item_code" class="d-block mb-2">สินค้า</label>
                    @Html.DropDownListFor(x => x.item_code, SelectListMethods.GetItemMaster(), Constants.SelectOption.SelectOne,
                    new
                    {
                        @class = "border text-gray-900 block w-full p-2.5 select2",
                        @id = "item_code",
                    })
                </div>
                <div>
                    <label for="supplier_code" class="d-block mb-2">ผู้ส่งสินค้า</label>
                    @Html.DropDownListFor(x => x.supplier_code, SelectListMethods.GetSupplier(), Constants.SelectOption.SelectOne,
                                        new
                                        {
                                            @class = "border text-gray-900 block w-full p-2.5 select2",
                                            @id = "supplier_code",
                                        })
                </div>
            </div>

            <div class="flex justify-content-center gap-2 flex-wrap">
                <button type="button" onclick="ExportPdf()" class="buttonAction w-180px primary-bg inline-flex justify-content-center items-center">
                    <img src="~/icons/pdf_file.svg" class="" />PDF Download
                </button>
                <button type="button" onclick="ExportExcel()" class="buttonAction w-180px second-bg inline-flex justify-content-center items-center">
                    <img src="~/icons/excel.svg" class="" />Excel Download
                </button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        flatpickr('#start_date', {
            locale: 'en',
            dateFormat: "d/m/Y",
        });

        flatpickr('#end_date', {
            locale: 'en',
            dateFormat: "d/m/Y",
        });

        function ExportExcel() {

                    Swal.fire({
                        title: 'กำลังส่งออกข้อมูล',
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading()
                        },
                    });

                    $.ajax({
                        url: '@Url.Action("ActionCreateExcelFile", "WeightCompare")',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'start_date': StringToDate($('#start_date').val()),
                            'end_date': StringToDate($('#end_date').val()),
                            'item_code': $('#item_code').val(),
                            'supplier_code': $('#supplier_code').val()
                        },
                        success: function (data) {
                            if (data.status == '@Constants.Result.Success') {
                                OpenExcel(data.path, data.fileName);
                                Swal.fire({
                                    title: 'ส่งออกไฟล์สำเร็จ',
                                    html: 'I will close in <strong></strong> seconds.',
                                    timer: 2000,
                                    icon: "success",
                                    showCancelButton: false, // There won't be any cancel button
                                    showConfirmButton: false, // There won't be any confirm button
                                    // confirmButtonClass: 'd-sm-inline-block btn btn-sm btn-outline-primary shadow-sm',
                                    buttonsStyling: false,
                                    onBeforeOpen: function () {
                                        Swal.showLoading()
                                        timerInterval = setInterval(function () {
                                            Swal.getContent().querySelector('strong')
                                                .textContent = Swal.getTimerLeft()
                                        }, 100)
                                    },
                                    onClose: function () {
                                        clearInterval(timerInterval)
                                    }
                                }).then(function (result) {
                                    if (
                                        // Read more about handling dismissals
                                        result.dismiss === Swal.DismissReason.timer
                                    ) {
                                        clearModal();
                                        Search();
                                    }
                                })
                            } else if (data.status == '@Constants.Result.Invalid') {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'คำเตือน',
                                    text: data.message,
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'ตกลง',
                                    confirmButtonClass: 'd-sm-inline-block btn btn-sm btn-outline-primary shadow-sm',
                                    buttonsStyling: false,
                                })
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'คำเตือน',
                                    text: data.message,
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'ตกลง',
                                    confirmButtonClass: 'd-sm-inline-block btn btn-sm btn-outline-primary shadow-sm',
                                    buttonsStyling: false,
                                })
                                toastr['error']('Fail - ' + data.message, 'Warning!', ErrOpt);
                            }
                        },
                        error: function () {
                            toastr['error']('Fail', 'Warning!', ErrOpt);
                        }
                    });
                }

        function OpenExcel(path, fileName) {
            var url = '@Url.Action("ActionOpenFileExcel", "WeightCompare")' +
                '?path=' + path +
                '&fileName=' + fileName;
            window.open(url, '_blank');
        }

        function ExportPdf() {
            const startDate = StringToDate($('#start_date').val());
            const endDate = StringToDate($('#end_date').val());
            const itemCode = encodeURIComponent($('#item_code').val());
            const supplierCode = encodeURIComponent($('#supplier_code').val());

            window.open('@Url.Action("ActionCreatePdfFile", "WeightCompare")' +
                '?start_date=' + startDate +
                '&end_date=' + endDate +
                '&item_code=' + itemCode +
                '&supplier_code=' + supplierCode, '_blank');
        }

        function StringToDate(date) {
            if (!date) return "";
            const [day, month, year] = date.split('/');
            return `${year}-${month}-${day}`;
        }
    </script>
}