@using WeightScaleGen2.BGC.Web.Common;
@using WeightScaleGen2.BGC.Web.Helper
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@using System.Security.Claims
@using Microsoft.Extensions.Configuration
@using System.Diagnostics;
@using System.Reflection;
@inject IConfiguration Configuration

@{
    var successMessages = TempData["SuccessMessages"] as String;
    var errMessages = TempData["ErrorMessages"] as String;
    var notiMessages = TempData["NotifyMessages"] as String;
}
@{
    string _cdn = @Configuration.GetSection("Config").GetSection("RootURL").Value;
    string _JsScriptPhat = @Configuration.GetSection("Config").GetSection("JsScriptPHAT").Value;
}
@{
    string roleName = ViewBag.rolename;
    string realName = "";
    string version = "";
    if (User.Claims.Count() > 0)
    {
        realName = User.Claims.FirstOrDefault(claim => claim.Type == "name").Value;
    }
    else
    {
        realName = ViewBag.name;
    }
    Version objVersion = Assembly.GetEntryAssembly().GetName().Version;
    version = objVersion.ToString();
}

<!DOCTYPE html>
<html lang="en">

<head>
    @{
        var titlePage = @ViewData["PageTitle"] != null ? ViewData["PageTitle"].ToString() : "Sign in";
        <title>WeightScaleGen2 - @titlePage</title>
    }

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="~/custom/css_custom.css">

    <!-- Template -->
    <link rel="stylesheet" type="text/css" href="~/demo2/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/demo2/fonts.css">
    <link rel="stylesheet" type="text/css" href="~/demo2/css/sb-admin-2.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" type="text/css" href="~/select2/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="~/select2/select2-bootstrap-5-theme.min.css" />

    <!-- Other -->
    <link rel="stylesheet" type="text/css" href="~/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" type="text/css" href="~/font/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor/nouislider.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor/plugins/toastr.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendor/toastr.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendor/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font.css">

    <!-- AOS Animation -->
    <link rel="stylesheet" type="text/css" href="~/aos/dist/aos.css">
    <script type="text/javascript" src="~/aos/dist/aos.js"></script>

    <!-- Chart Js Theme -->
    <script type="text/javascript" src="~/chart/theme_chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Tailwind Css -->
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
    <script src="~/lib/flowbite/flowbite.js"></script>

    <!-- Load Textify CSS -->
    <link rel="stylesheet" href="~/lib/textify/textify.min.css">

    <!-- Load GSAP (required by Textify) -->
    <script src="~/lib/textify/gsap.min.js"></script>

    <!-- Load Textify.js -->
    <script src="~/lib/textify/Textify.min.js"></script>

    <!-- Load Lordicon -->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

    <!-- Flatpickr CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Weight Scale CSS Edit Layout -->
    <link rel="stylesheet" type="text/css" href="~/css/weight-scale.css">

    <style>
        .logo {
            width: 110px;
            height: 35px;
            background: url(../logos/bgc-logo-tran.png) no-repeat;
            background-size: contain;
            margin: 0 auto;
        }

        .bg-login {
            background-image: url("../img/bg/bg-login.jpg");
            background-size: cover;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .flatpickr-input[readonly] {
            pointer-events: auto !important;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column h-screen bg-white">

            <!-- Main Content -->
            <main>
                <div id="content" class="@(!string.IsNullOrEmpty(ViewBag.token) ? "boardContainer" : "")">
                    <!-- Topbar -->
                    @if (!string.IsNullOrEmpty(ViewBag.token))
                    {
                        var lsMenu = (List<WeightScaleGen2.BGC.Models.ViewModels.Menu.ResultGetMenuViewModel>)ViewBag.UserMenu;
                        var level2 = lsMenu.Where(i => i.menu_level == 2).OrderBy(i => i.order_by).ToList();
                        var currentMenu = (int)ViewBag.CurrentMenu;
                        var active = string.Empty;

                        <div class="sideMenu slideShow">
                            <div class="h-100" data-aos="fade-up">
                                <div class="sliderButtonBox">
                                    <button id="sliderButton" class="">
                                        <img src="~/icons/caret.png" class="" />
                                    </button>
                                </div>
                                <nav class="">
                                    <div class="logoBox">
                                        <p onclick="DirectTo('/Home');" class="flex items-center justify-center space-x-3 rtl:space-x-reverse">
                                            <img src="~/logos/bg-logo.png" class="h-4" alt="BG Logo" />
                                        </p>
                                        <h5>Weight Scale</h5>
                                    </div>

                                    <div id="menuNav" class="menuNav">
                                        <div id="navbar-user" class="">
                                            <ul class="sideNav">
                                                <div class="NavModifier">
                                                    @foreach (var menu in lsMenu.Where(i => i.menu_level == 1).OrderBy(i => i.order_by))
                                                    {
                                                        var subMenus = level2.Where(i => i.parent_menu_id == menu.menu_id).OrderBy(i => i.order_by).ToList();
                                                        active = currentMenu == menu.menu_id || subMenus.Any(s => s.menu_id == currentMenu) ? "active text-white" : string.Empty;

                                                        if (subMenus.Count() == 0)
                                                        {
                                                        <li onclick="DirectTo('@Url.Action(menu.url, menu.url_controller)')" class="@active">
                                                            @if (!String.IsNullOrEmpty(@menu.icon))
                                                            {
                                                                <img src="~/icons/@menu.icon" class="mr-2" />
                                                            }
                                                            @menu.display_name
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="nav-SubMenu @active" data-target="subMenu-@menu.menu_id">
                                                            @if (!String.IsNullOrEmpty(@menu.icon))
                                                            {
                                                                <img src="~/icons/@menu.icon" class="mr-2" />
                                                            }
                                                            @menu.display_name
                                                            <lord-icon src="https://cdn.lordicon.com/gqfozvrp.json"
                                                                       trigger="hover"
                                                                       colors="primary:#0f172b"
                                                                       style="width:15px;height:15px"
                                                                       class="ml-1">
                                                            </lord-icon>
                                                        </li>
                                                        <ul id="subMenu-@menu.menu_id" class="subMenuPanel">
                                                            @foreach (var sub in subMenus)
                                                            {
                                                                var subActive = currentMenu == sub.menu_id ? "active text-white" : string.Empty;
                                                                <li onclick="DirectTo('@Url.Action(sub.url, sub.url_controller)')" class="@subActive">
                                                                    <lord-icon src="https://cdn.lordicon.com/jectmwqf.json"
                                                                               trigger="hover"
                                                                               stroke="bold"
                                                                               colors="primary:#1447e6,secondary:#66d7ee"
                                                                               style="width:15px;height:15px"
                                                                               class="mr-2">
                                                                    </lord-icon>
                                                                    @sub.display_name
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                }

                                        </div>

                                        </ul>

                                        <div class="userIdentityBox">
                                            <div class="userName">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                                    <path d="M362.83-388.3q-22.13 0-36.92-14.79-14.78-14.78-14.78-36.91 0-22.13 14.78-36.91 14.79-14.79 36.92-14.79 22.13 0 36.91 14.79 14.78 14.78 14.78 36.91 0 22.13-14.78 36.91-14.78 14.79-36.91 14.79Zm234.34 0q-22.13 0-36.91-14.79-14.78-14.78-14.78-36.91 0-22.13 14.78-36.91 14.78-14.79 36.91-14.79 22.13 0 36.92 14.79 14.78 14.78 14.78 36.91 0 22.13-14.78 36.91-14.79 14.79-36.92 14.79ZM480-166.78q130.61 0 222.2-90.7 91.58-90.7 91.58-221.39 0-24-3-45.67-3-21.66-11-42.07-21 5-41.15 7.5t-43.15 2.5q-89.31 0-168.33-38.15-79.02-38.15-135.45-107.02-30.87 75.74-89.24 131.82-58.37 56.09-135.11 85.09v6q0 130.69 91.02 221.39 91.02 90.7 221.63 90.7Zm.57 106q-86.9 0-163.32-32.91-76.42-32.92-133.25-89.74-56.83-56.83-89.74-133.27-32.91-76.44-32.91-163.35t32.91-163.3q32.91-76.39 89.74-133.22 56.83-56.82 133.26-89.74 76.44-32.91 163.35-32.91t163.02 32.91q76.11 32.92 132.94 89.74 56.82 56.83 89.74 133.27 32.91 76.44 32.91 163.35t-32.91 163.3q-32.92 76.39-89.74 133.22-56.83 56.82-133.07 89.74-76.25 32.91-162.93 32.91ZM426-795q42 70 114 112.5T700-640q14 0 27-1.5t27-3.5q-42-70-114-112.5T480-800q-14 0-27 1.5t-27 3.5ZM177-581q51-29 89-75t57-103q-51 29-89 75t-57 103Zm249-214Zm-103 36Z" />
                                                </svg>
                                                <span class="name">@realName</span>
                                                <span class="role">@roleName</span>
                                            </div>
                                            <ul class="userLogout" aria-labelledby="user-menu-button">
                                                <li>
                                                    @if (!string.IsNullOrEmpty(ViewBag.token))
                                                    {
                                                        <p onclick="DirectTo('/Home/Logout');" class="">
                                                            <lord-icon src="https://cdn.lordicon.com/vfiwitrm.json"
                                                                       trigger="loop"
                                                                       delay="600"
                                                                       colors="primary:#193cb8,secondary:#162456"
                                                                       style="width:20px;height:20px">
                                                            </lord-icon> Sign out
                                                        </p>
                                                    }
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                            </div>
                            </nav>
                        </div>
                    </div>
                }
                <!-- End of Topbar -->
                <div class="@(!string.IsNullOrEmpty(ViewBag.token) ? "dataSide" : "")">
                    @if (!String.IsNullOrEmpty(ViewBag.token))
                    {
                        <div class="h-100" data-aos="fade-up">@RenderBody()</div>
                    }
                    else
                    {
                        <div>
                            @RenderBody()
                        </div>
                    }

                    <!-- Footer -->
                    @if (!String.IsNullOrEmpty(ViewBag.token))
                    {
                        <div class="bg-white rounded-lg dark:bg-gray-900 hidden">
                            <div class="w-full mx-auto py-3 px-2">
                                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-0" />
                                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© @DateTime.Now.Year.ToString() BGC | Weight Scale Gen 2 | version @version. All Rights Reserved.</span>
                            </div>
                        </div>
                    }
                    <!-- End of Footer -->
                </div>

        </div>
        </main>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="d-none d-sm-inline-block btn btn-sm btn-outline-secondary shadow-sm" type="button" data-dismiss="modal">Cancel</button>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    @Html.RenderAction("Modal", "Home")

    <!-- Bootstrap core javascript-->
    <script src="~/demo2/vendor/jquery/jquery.min.js"></script>
    <script src="~/demo2/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/demo2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/demo2/js/demo/datatables-demo.js"></script>

    <!-- Custom -->
    <script src="~/custom/scripts_custom.js"></script>

    <!-- Select2 -->
    <script src="~/select2/select2.min.js"></script>

    <!-- Other -->
    <script src="~/js/vendor/toastr.min.js"></script>
    <script src="~/js/vendor/sweetalert2.all.min.js"></script>
    <script src="~/js/vendor/jquery.validate/jquery.validate.min.js"></script>
    <script src="~/js/vendor/jquery.validate/additional-methods.min.js"></script>
    <script src="~/js/vendor/datatables.min.js"></script>
    <script src="~/js/fontawesome/fontawesome.js" crossorigin="anonymous"></script>
    <script src="~/js/cdn/dataTables.buttons.min.js"></script>
    <script src="~/js/cdn/jszip.min.js"></script>
    <script src="~/js/cdn/pdfmake.min.js"></script>
    <script src="~/js/cdn/vfs_fonts.js"></script>
    <script src="~/js/cdn/buttons.html5.min.js"></script>
    <script src="~/js/cdn/buttons.print.min.js"></script>
    <script src="~/js/vendor/Chart.bundle.min.js"></script>
    <script src="~/js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="~/js/vendor/moment.min.js"></script>
    <script src="~/js/vendor/fullcalendar.min.js"></script>
    <script src="~/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="~/js/vendor/progressbar.min.js"></script>
    <script src="~/js/vendor/Sortable.js"></script>
    <script src="~/js/vendor/mousetrap.min.js"></script>
    <script src="~/js/vendor/jquery.barrating.min.js"></script>
    <script src="~/js/vendor/nouislider.min.js"></script>

    <script>
        var root = '@Url.Content("~/")';
        document.addEventListener("DOMContentLoaded", function () {
            AOS.init({
                duration: 650,
                once: true
            });
        });
    </script>

    <script>
        let sum = 0;

        $(function () {
            GetListNotify();
        });

        // setInterval(function () {
        //     GetListNotify();
        // }, 10000);

        function Summary(value) {
            $("#notify_value").text(value.toString());
        }

        function GetListNotify() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetListNotify", "Base")',
                async: true,
                success: function (data) {
                    $('#notify_list').empty();
                    if (data.res.total > 0) {
                        data.res.data.forEach(function (item) {
                            var addAlert = '<a class="dropdown-item d-flex align-items-center" href="' + item.url + '"><div class="mr-3"><div class="icon-circle bg-' + item.status + '"><i class="fas fa-file-alt text-white"></i></div></div><div><span class="font-weight-bold">' + item.text + '</span></div></a>';
                            $('#notify_list').append(addAlert);
                        });
                        Summary(data.res.total);
                    } else {
                        var addNoAlert = '<a class="dropdown-item d-flex align-items-center"><div class="mr-3"><span class="font-weight-bold">No alerts</span></div></a>';
                        $('#notify_list').append(addNoAlert);
                        Summary(0);
                    }
                },
            });
        }

        function DirectTo(path) {
            window.location.href = path;
        }
    </script>

    <script>
        var ErrOpt = {
            closeButton: true,
            tapToDismiss: false,
            positionClass: 'toast-bottom-right',
            progressBar: true,
            hideDuration: 2500
        };
        var SuccOpt = {
            closeButton: true,
            tapToDismiss: false,
            positionClass: 'toast-bottom-right',
            progressBar: true,
            hideDuration: 1500
        };
        var NotiOpt = {
            closeButton: true,
            tapToDismiss: false,
            positionClass: 'toast-bottom-right',
            progressBar: true,
            hideDuration: 5000
        };
    </script>

    @if (successMessages != null && successMessages.Length > 0)
    {
        <script>
            $(function () {
                var _messages = @Html.Raw(Json.Serialize(successMessages));
                toastr['success'](_messages, 'Success!', SuccOpt);
            });
        </script>
    }
    @if (errMessages != null && errMessages.Length > 0)
    {
        <script>
            $(function () {
                var _messages = @Html.Raw(Json.Serialize(errMessages));
                toastr['error'](_messages, 'Warning!', ErrOpt);
            });
        </script>
    }
    @if (notiMessages != null && notiMessages.Length > 0)
    {
        <script>
            $(function () {
                var _messages = @Html.Raw(Json.Serialize(errMessages));
                toastr['info'](_messages, 'Info!', NotiOpt);
            });
        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)

    @if (!String.IsNullOrEmpty(ViewBag.token))
    {
        <script>
            // Slide in/out side menu
            $("#sliderButton").click(function () {
                $(".sideMenu").toggleClass('slideShow');
                $(".boardContainer").toggleClass('noGap');
                $(".sliderButtonBox").toggleClass('slideIn');
                $(".dataSide").toggleClass('fullWidth');
            });

            // Toggle submenu visibility
            $(document).ready(function () {
                $(".nav-SubMenu").click(function () {
                    const targetId = $(this).data("target");
                    const $target = $("#" + targetId);

                    if ($target.hasClass("showMenu")) {
                        $target.removeClass("showMenu");
                    } else {
                        $(".subMenuPanel").removeClass("showMenu");
                        $target.addClass("showMenu");
                    }
                });
            });
        </script>

        <script>
            var DataTable = $.fn.dataTable;
                    /* Set the defaults for DataTables initialisation */
            $.extend( true, DataTable.defaults, {
                dom:
                    "<'row no-gutters'<'col-12'l>>" +
                    "<'row no-gutters'<'col-12'tr>>" +
                    "<'row no-gutters'<'col-12 text-center'i><'col-12 text-center'p>>",
                renderer: 'bootstrap'
            } );
        </script>

        <script>
            function syncDataContainerHeight(ref, target) {
              target.style.height = ref.offsetHeight + 'px';
            }

            window.addEventListener('DOMContentLoaded', () => {
              const ref = document.getElementById('menuNav');
              const target = document.getElementById('dataContainerHeight');

              // ตรวจสอบ media query
              const isWideScreen = () => window.innerWidth >= 1280;

              // ตั้งค่าเริ่มต้นถ้าขนาดหน้าจอเหมาะสม
              if (isWideScreen()) {
                syncDataContainerHeight(ref, target);
              }

              // ใช้ ResizeObserver เฉพาะเมื่อขนาดหน้าจอเหมาะสม
              const observer = new ResizeObserver(() => {
                if (isWideScreen()) {
                  syncDataContainerHeight(ref, target);
                } else {
                  target.style.height = ''; // รีเซ็ตความสูงถ้าออกจาก media
                }
              });

              observer.observe(ref);

              // อัปเดตเมื่อหน้าต่าง resize ด้วย
              window.addEventListener('resize', () => {
                if (isWideScreen()) {
                  syncDataContainerHeight(ref, target);
                } else {
                  target.style.height = ''; // รีเซ็ตความสูงถ้าไม่เข้าเงื่อนไข
                }
              });
            });
        </script>
    }
</body>

</html>