@using WeightScaleGen2.BGC.Web.Common
@model WeightScaleGen2.BGC.Models.ViewModels.ReturnData.ParamSearchReturnDataViewModel
@{
    ViewData["PageTitle"] = @ViewBag.MenuName;
}
@Html.AntiForgeryToken()
<div class="h-100">
    @* Header Section *@
    <div class="pageMenuTitle">
        <h3 class="text-black">ส่งข้อมูลการชั่ง</h3>
    </div>

    <div id="dataContainerHeight" class="dataContainer">

        <div class="flex flex-row items-center justify-between mb-3 flex-wrap gap-2">
            <h4 class="dataTitle">ส่งข้อมูลการชั่ง</h4>
            <div>
                <button type="button" onclick="SendDataToSAP()" class="buttonAction primary-bg inline-flex items-center me-2">
                    @* <i class="fa-solid fa-upload me-2"></i> *@
                    <img src="~/icons/sap_logo_1.svg" class="" />
                    @* <img src="~/icons/sync.svg" class="SapUpdate" /> *@
                    <img src="~/icons/confirm_weight.svg" class="" />
                    ยืนยันข้อมูล
                </button>
                <button type="button" onclick="ExportExcel()" class="buttonAction second-bg inline-flex items-center">
                    @* <i class="fa-solid fa-file-excel me-2"></i> *@
                    <img src="~/icons/excel.svg" class="" />
                    ดาวน์โหลด
                </button>
            </div>
        </div>

        @* Search Section *@
        <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm mb-2 space-y-2">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div>
                    <label for="start_date" class="d-block mb-2">วันที่เริ่มต้น</label>
                    <div class="relative">
                        <lord-icon src="https://cdn.lordicon.com/uphbloed.json"
                                   trigger="hover"
                                   style="width: 20px; height: 20px;"
                                   colors="primary:#193cb8,secondary:#66d7ee"
                                   class="absolute top-1/2 right-2 transform -translate-y-1/2 w-6 h-6">
                        </lord-icon>
                        <input type="text" id="start_date" placeholder="เลือกวันที่เริ่มต้น" class="border text-gray-900 block w-full p-2.5" />
                    </div>
                </div>
                <div>
                    <label for="end_date" class="d-block mb-2">วันทีสิ้นสุด</label>
                    <div class="relative">
                        <lord-icon src="https://cdn.lordicon.com/uphbloed.json"
                                   trigger="hover"
                                   style="width: 20px; height: 20px;"
                                   colors="primary:#193cb8,secondary:#66d7ee"
                                   class="absolute top-1/2 right-2 transform -translate-y-1/2 w-6 h-6">
                        </lord-icon>
                        <input type="text" id="end_date" placeholder="เลือกวันที่สิ้นสุด" class="border text-gray-900 block w-full p-2.5" />
                    </div>
                </div>
            </div>

            <div class="flex justify-content-center mb-2">
                <div class="flex flex-row justify-content-center items-center toggleSwitch-1">
                    <label for="hs-large-switch-with-icons" class="relative inline-block">
                        <input type="checkbox" id="hs-large-switch-with-icons" class="peer sr-only" onchange="SetWeightStatus()">
                        <span class="absolute inset-0 bg-gray-500 rounded-full transition-colors duration-200 ease-in-out peer-disabled:opacity-50 peer-disabled:pointer-events-none"></span>
                        <span id="btn_weight_status"
                              class="absolute top-1/2 start-0.5 -translate-y-1/2 size-7 rounded-full shadow-xs transition-transform duration-200 ease-in-out bg-white peer-checked:translate-x-full">
                        </span>
                    </label>
                    <label for="hs-large-switch-with-icons" class="text-black">ก่อนปิดงาน</label>
                </div>
            </div>

            <div class="flex justify-content-center gap-2 flex-wrap">
                <button type="button" onclick="Search()" class="buttonAction w-150px primary-bg inline-flex justify-content-center items-center">
                    <img src="~/icons/search.svg" class="" />
                    ค้นหา
                </button>
                <button type="button" onclick="Clear()" class="buttonAction w-150px third-bg inline-flex justify-content-center items-center">
                    <img src="~/icons/close.svg" class="" />
                    เคลียร์
                </button>
            </div>
        </div>


        @* Table Section *@
        <div class="relative overflow-x-auto shadow-sm rounded-lg border border-gray-200 p-4">
            <table id="data-list" class="w-full text-md text-left rtl:text-right text-gray-700">
                <thead class="text-white uppercase">
                    <tr>
                        <th class="text-center">
                            เลขที่ใบชั่งออก
                        </th>
                        <th class="text-center">
                            เลขที่ใบชั่งเข้า
                        </th>
                        <th class="text-center">
                            ลำดับการทำงาน
                        </th>
                        <th class="text-center">
                            ประเภทการชั่ง
                        </th>
                        <th class="text-center">
                            วันที่ชั่ง
                        </th>
                        <th class="text-center">
                            วันที่รับ
                        </th>
                        <th class="text-center">
                            เอกสารอ้างอิง
                        </th>
                        <th class="text-center">
                            ประเภทการทำงาน
                        </th>
                        <th class="text-center">
                            รหัสสินค้า
                        </th>
                        <th class="text-center">
                            บริษัท
                        </th>
                        <th class="text-center">
                            สถานที่จัดเก็บ
                        </th>
                        <th class="text-center">
                            ประเภทสินค้า
                        </th>
                        <th class="text-center">
                            หมายเหตุ
                        </th>
                        <th class="text-center">
                            ใบสั่งซื้อ
                        </th>
                        <th class="text-center">
                            ลำดับใบสั่งซื้อ
                        </th>
                        <th class="text-center">
                            ทะเบียนรถ
                        </th>
                        <th class="text-center">
                            น้ำหนักชั่งเข้า
                        </th>
                        <th class="text-center">
                            น้ำหนักชั่งออก
                        </th>
                        <th class="text-center">
                            น้ำหนักรับ
                        </th>
                        <th class="text-center">
                            น้ำหนักชั่งผู้ขาย
                        </th>
                        <th class="text-center">
                            น้ำหนักตีกลับ
                        </th>
                        <th class="text-center">
                            หน่วย
                        </th>
                        <th class="text-center">
                            วันเริ่มต้นใบอนุญาต
                        </th>
                        <th class="text-center">
                            วันสิ้นสุดใบอนุญาต
                        </th>
                        <th class="text-center">
                            หมายเลขใบอนุญาต
                        </th>
                        <th class="text-center">
                            ประเภทข้อความ
                        </th>
                        <th class="text-center">
                            ข้อความจาก SAP
                        </th>
                        <th class="text-center">
                            ส่งข้อมูล
                        </th>
                        <th class="text-center">
                            หมายเลข GR
                        </th>
                        <th class="text-center">
                            ปีของ GR
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        flatpickr('#start_date', {
            locale: 'en',
            dateFormat: "d/m/Y",
        });

        flatpickr('#end_date', {
            locale: 'en',
            dateFormat: "d/m/Y",
        });

        $(function () {
            Search();
        });

        var t
        var searchParam;
        var fromSearch = true;
        $(function () {
            Swal.fire({
                title: 'รอสักครู่...',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                },
            });

            SearchPage.init({
                url: '@Url.RouteUrl("SearchData")',
                info_page_url: '@Url.RouteUrl("SearchData")',
                tableId: "data-list"
            });
            setTimeout(function () { Swal.close(); }, 1000);
            });

            var SearchPage = function () {
                var tableList;  // actual table jquery object
                var opts;       // all param object
                var initDataTable = function () {
                t = tableList.DataTable({
                                    ajax: {
                                        url: '@Url.Action("SearchData", "ReturnData")',
                                        type: "POST",
                                        data: function (d) {
                                            return $.extend({}, d, {
                                                "start_date": $('#start_date').val(),
                                                "end_date": $('#end_date').val(),
                                                "status": $('#hs-large-switch-with-icons').prop('checked') ? 'true' : 'false'
                                            });
                                        },
                                        dataType: "json",
                                        error: function (jqXhr, txtStatus, errorThrown) {
                                            if (typeof console === "object") {
                                                console.log("Code: " + jqXhr.status);
                                                console.log("Status: " + txtStatus);
                                                console.log("Error Thrown: " + errorThrown);
                                            }
                                        }
                                    },
                                    ordering: false,
                                    // scrollX: true,
                                    // scrollY: "calc(100vh - 300px)",
                                    deferRender: true,
                                    iDisplayLength: 10,
                                    paging: true,
                                    serverSide: true,
                                    autoWidth: true,
                                    searching: false,
                                    info: true,
                                    // dom: '<"flex flex-wrap items-center gap-3 mb-3 view-filter"<"w-full sm:w-auto"<"mr-3"l><"mr-3"f>>>' + 't' + '<"flex justify-center mt-3 view-pager"<"w-full sm:w-auto"ip>>',
                                    language: {
                                        paginate: {
                                            first: 'หน้าแรก',
                                            last: 'หน้าสุดท้าย',
                                            next: 'ถัดไป →',
                                            previous: '← ก่อนหน้า'
                                        },
                                        info: "แสดง _START_ ถึง _END_ จากทั้งหมด _TOTAL_ รายการ",
                                        infoEmpty: "ไม่มีข้อมูลที่จะแสดง",
                                        lengthMenu: "แสดง _MENU_ รายการ",
                                        infoFiltered: "(กรองจากทั้งหมด _MAX_ รายการ)",
                                        zeroRecords: "ไม่พบข้อมูลที่ค้นหา",
                                        processing: "รอสักครู่..."
                                    },
                                    preDrawCallback: function (settings) {
                                        Swal.fire({
                                            title: 'รอสักครู่...',
                                            allowOutsideClick: false,
                                            didOpen: () => {
                                                Swal.showLoading()
                                            },
                                        });
                                    },
                                    drawCallback: function (settings) {
                                        Swal.close();
                                    },
                                    columns: [
                                        { data: "weight_out_no", name: "weight_out_no", className: "text-center p-4", orderable: false },
                                        { data: "weight_in_no", name: "weight_in_no", className: "text-center p-4", orderable: false },
                                        { data: "sequence", name: "sequence", className: "text-center p-4", orderable: false },
                                        { data: "gr_type", name: "gr_type", className: "text-center p-4", orderable: false },
                                        { data: "doc_date", name: "doc_date", className: "text-center p-4", orderable: false, render: renderCol_DateTime_EN },
                                        { data: "post_date", name: "post_date", className: "text-center p-4", orderable: false, render: renderCol_DateTime_EN },
                                        { data: "ref_doc", name: "ref_doc", className: "text-center p-4", orderable: false },
                                        { data: "good_movement", name: "good_movement", className: "text-center p-4", orderable: false },
                                        { data: "material", name: "material", className: "text-center p-4", orderable: false },
                                        { data: "plant", name: "plant", className: "text-center p-4", orderable: false },
                                        { data: "sloc", name: "sloc", className: "text-center p-4", orderable: false },
                                        { data: "stock_type", name: "stock_type", className: "text-center p-4", orderable: false },
                                        { data: "item_text", name: "item_text", className: "text-center p-4", orderable: false },
                                        { data: "po_number", name: "po_number", className: "text-center p-4", orderable: false },
                                        { data: "po_line_number", name: "po_line_number", className: "text-center p-4", orderable: false },
                                        { data: "truck_no", name: "truck_no", className: "text-center p-4", orderable: false },
                                        { data: "weight_in", name: "weight_in", className: "text-center p-4", orderable: false },
                                        { data: "weight_out", name: "weight_out", className: "text-center p-4", orderable: false },
                                        { data: "weight_rec", name: "weight_rec", className: "text-center p-4", orderable: false },
                                        { data: "weight_vendor", name: "weight_vendor", className: "text-center p-4", orderable: false },
                                        { data: "weight_reject", name: "weight_reject", className: "text-center p-4", orderable: false },
                                        { data: "weight_unit", name: "weight_unit", className: "text-center p-4", orderable: false },
                                        { data: "doc_start", name: "doc_start", className: "text-center p-4", orderable: false, render: renderCol_DateTime_EN  },
                                        { data: "doc_stop", name: "doc_stop", className: "text-center p-4", orderable: false, render: renderCol_DateTime_EN  },
                                        { data: "doc_send", name: "doc_send", className: "text-center p-4", orderable: false },
                                        { data: "message_type", name: "message_type", className: "text-center p-4", orderable: false },
                                        { data: "message", name: "message", className: "text-center p-4", orderable: false},
                                        { data: "send_data", name: "send_data", className: "text-center p-4", orderable: false },
                                        { data: "material_document", name: "material_document", className: "text-center p-4", orderable: false },
                                        { data: "document_year", name: "document_year", className: "text-center p-4", orderable: false }
                                    ]
                                    //order: [[1, "asc"]]
                                });
                };

                var renderCol_Date_EN = function (data, type, row, meta) {
                    if (data == null)
                        return "";
                    let d = moment(data);
                    return d.format('DD') + '/' + d.format('MM') + '/' + d.format('YYYY');
                };

                var renderCol_DateTime_EN = function (data, type, row, meta) {
                    if (data == null)
                        return "";
                    let d = moment(data);
                    return d.format('DD') + '/' + d.format('MM') + '/' + d.format('YYYY') + ' ' + d.format('HH') + ':' + d.format('mm') + ':' + d.format('ss');
                };

                var renderCol_Date_TH = function (data, type, row, meta) {
                    if (data == null)
                        return "";
                    let d = moment(data);
                    return d.format('MM') + '/' + d.format('DD') + '/' + d.add(543, 'y').format('YYYY');
                };

                var renderCol_DateTime_TH = function (data, type, row, meta) {
                    if (data == null)
                        return "";
                    let d = moment(data);
                    return d.format('MM') + '/' + d.format('DD') + '/' + d.add(543, 'y').format('YYYY') + ' ' + d.format('HH') + ':' + d.format('mm') + ':' + d.format('ss');
                };

                var reloadTable = function () {
                    if (tableList) {
                        tableList.DataTable().ajax.reload();
                    }
                };

                return {
                    init: function (options) {
                        opts = $.extend({
                            ajaxUrl_GetList: '@Url.Action("SearchData", "ReturnData")',
                            redirectUrl_InfoPage: options.info_page_url,
                            updateRole: options.info_page_url,
                            table: []
                            }, options);
                            tableList = $("#" + opts.tableId);
                            initDataTable();
                            },
                            reloadTableAjax: function () {
                                reloadTable();
                            }
                };
            }();

        function Search() {
            fromSearch = true;
            SearchPage.reloadTableAjax();
        }

        function Clear() {
            $('#start_date').val("");
            $('#end_date').val("");
        }

            function ExportExcel() {

                Swal.fire({
                    title: 'กำลังส่งออกข้อมูล',
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    },
                });

                $.ajax({
                    url: '@Url.Action("ActionCreateExcelFile", "ReturnData")',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'start_date': $('#start_date').val(),
                        'end_date': $('#end_date').val(),
                        'status': $('#hs-large-switch-with-icons').prop('checked') ? 'true' : 'false'
                    },
                    success: function (data) {
                        if (data.status == '@Constants.Result.Success') {
                            OpenExcel(data.path, data.fileName);
                            Swal.fire({
                                title: 'ส่งออกไฟล์สำเร็จ',
                                html: 'I will close in <strong></strong> seconds.',
                                timer: 2000,
                                icon: "success",
                                showCancelButton: false, // There won't be any cancel button
                                showConfirmButton: false, // There won't be any confirm button
                                // confirmButtonClass: 'd-sm-inline-block btn btn-sm btn-outline-primary shadow-sm',
                                buttonsStyling: false,
                                onBeforeOpen: function () {
                                    Swal.showLoading()
                                    timerInterval = setInterval(function () {
                                        Swal.getContent().querySelector('strong')
                                            .textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                onClose: function () {
                                    clearInterval(timerInterval)
                                }
                            }).then(function (result) {
                                if (
                                    // Read more about handling dismissals
                                    result.dismiss === Swal.DismissReason.timer
                                ) {
                                    clearModal();
                                    Search();
                                }
                            })
                        } else if (data.status == '@Constants.Result.Invalid') {
                            Swal.fire({
                                icon: 'error',
                                title: 'คำเตือน',
                                text: data.message,
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'ตกลง',
                                confirmButtonClass: 'd-sm-inline-block btn btn-sm btn-outline-primary shadow-sm',
                                buttonsStyling: false,
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'คำเตือน',
                                text: data.message,
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'ตกลง',
                                confirmButtonClass: 'd-sm-inline-block btn btn-sm btn-outline-primary shadow-sm',
                                buttonsStyling: false,
                            })
                            toastr['error']('Fail - ' + data.message, 'Warning!', ErrOpt);
                        }
                    },
                    error: function () {
                        toastr['error']('Fail', 'Warning!', ErrOpt);
                    }
                });
            }

            function OpenExcel(path, fileName) {
                var url = '@Url.Action("ActionOpenFileExcel", "ReturnData")' +
                    '?path=' + path +
                    '&fileName=' + fileName;
                window.open(url, '_blank');
            }

            function SendDataToSAP() {
              var param = {};
              param.start_date = $('#start_date').val();
              param.end_date = $('#end_date').val();
              param.status = $('#hs-large-switch-with-icons').prop('checked') ? 'true' : 'false';
              (async () => {

              const { value: formValues } = await Swal.fire({
                title: 'ยืนยัน และส่งข้อมูลขึ้น SAP',
                html:
                    '<div>'+
                    '<label for="user_sap" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username SAP</label>' +
                    '<input type="text" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="user_sap" />'+
                    '</div>' +
                    '<div>'+
                    '<label for="password_sap" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>' +
                    '<input type="password" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="password_sap" />'+
                    '</div>',
                focusConfirm: false,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ยืนยัน',
                cancelButtonText: 'ยกเลิก',
                confirmButtonClass: 'd-sm-inline-block btn btn-sm btn-outline-primary shadow-sm',
                cancelButtonClass: 'd-sm-inline-block btn btn-sm btn-outline-danger shadow-sm',
                buttonsStyling: false,
                preConfirm: () => {
                    var data = {};
                    const usr = $('#user_sap').val();
                    const pass = $('#password_sap').val();
                    if (!usr || !pass) {
                        Swal.showValidationMessage('กรุณากรอกข้อมูลให้ครบถ้วน');
                        return false;
                    }
                    data.user = usr;
                    data.pass = pass;
                    return data;
                }
              })

              if (formValues) {
                    param.user = formValues.user;
                    param.password = formValues.pass;

                    $.ajax({
                        cache: false,
                        async: true,
                        type: "POST",
                        url: '@Url.Action("SendData", "ReturnData")',
                        data: param,
                        success: function (data) {
                            if (data.status == '@Constants.Result.Success') {
                                PrintItem(data.id);
                                let timerInterval;
                                Swal.fire({
                                    title: 'ส่งข้อมูลขึ้น SAP สำเร็จ !',
                                    html: 'I will close in <strong></strong> seconds.',
                                    timer: 750,
                                    icon: "success",
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    buttonsStyling: false,
                                    didOpen: () => {
                                        Swal.showLoading();
                                        timerInterval = setInterval(() => {
                                            Swal.getContent().querySelector('strong')
                                                .textContent = Swal.getTimerLeft();
                                        }, 100);
                                    },
                                    willClose: () => {
                                        clearInterval(timerInterval);
                                    }
                                }).then((result) => {
                                    if (result.dismiss === Swal.DismissReason.timer) {
                                        console.log('หน้าต่างจะปิดในเวลา');
                                        location.reload();
                                    }
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'คำเตือน',
                                    text: data.message,
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'ตกลง',
                                    confirmButtonClass: 'd-sm-inline-block btn btn-sm btn-outline-primary shadow-sm',
                                    buttonsStyling: false,
                                });
                                if (data.status != '@Constants.Result.Invalid') {
                                    toastr['error']('Fail - ' + data.message, 'Warning!', ErrOpt);
                                }
                            }
                        },
                        error: function () {
                            toastr['error']('Fail', 'Warning!', ErrOpt);
                        }
                    });
              }

              })()
            }

        function SetWeightStatus() {
          var checkbox = document.getElementById('hs-large-switch-with-icons');
          var knob = document.getElementById('btn_weight_status');

          if (checkbox.checked) {
            knob.classList.remove('bg-white');
            knob.classList.add('primary-bg');
          } else {
            knob.classList.remove('primary-bg');
            knob.classList.add('bg-white');
          }
        }
    </script>
}